node_modules/
.next/
out/
dist/
build/

.env
.env.local
.env.production
.env.*.local

*.log
*.tsbuildinfo
next-env.d.ts

.DS_Store
Thumbs.db

.vercel
coverage/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
